pandas
torch
pytorch-forecasting
notebook
matplotlib
statsmodels
more-itertools
tensorflow
chronos-forecasting==1.4.1
timesfm==1.2.3
jax==0.4.35
prophet==1.1.6
seaborn==0.13.2
scikit-posthocs==0.11.2
statsannotations==0.7.1
tensorflow-probability==0.25.0
tf-keras==2.18.0
antropy==0.1.9
ruptures==1.1.9
mxnet==1.9.1